<body>
  <!-- <app-nav-bar></app-nav-bar>
  <router-outlet></router-outlet> -->
  <header>
    <a href="#">
      <h1>kento kawakami film archive</h1>
    </a>
    <ul>
      <li><a href="#">Upload</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </header>

  <!-- <section class="entries">
    <a
      [routerLink]="['/entry', entry.id]"
      *ngFor="let entry of entries$"
      [style.backgroundImage]="'url(' + entry.thumbnailUrl + ')'"
    >
      <div class="overlay"></div>
      <div class="title">
        <p>{{ entry.title }}</p>
        <p>{{ convertDate(entry.date, "MM/DD/YY") }}</p>
      </div>
    </a>
  </section> -->

  <section class="entry">
    <div *ngFor="let photo of entry$.photos">
      <img src="{{ photo.url }}" />
      <div class="photo-caption">
        <p>
          {{
            photo.camera.brand +
              " " +
              photo.camera.model +
              " " +
              photo.camera.year
          }}
        </p>
        <p>
          {{
            photo.film.brand +
              " " +
              photo.film.stock +
              " " +
              photo.film.iso +
              " " +
              photo.film.size
          }}
        </p>
        <p>EI: {{ photo.exposureIndex }}</p>
        <p>{{ photo.location }}</p>
        <p>{{ photo.city + ", " + photo.state + " " + photo.country }}</p>
      </div>
    </div>
    <div class="caption">
      <h2>{{ entry$.title }}</h2>
      <h3>{{ convertDate(entry$.date, "MMMM DD, YYYY") }}</h3>
      <p>{{ entry$.notes }}</p>
    </div>
  </section>
</body>
